<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-autowire="byType">

         <!--<bean id="injectionService" class="com.jmall.ioc.injection.service.InjectionServiceImpl">-->
            <!--<property name="injectionDAO" ref="injectionDAO"></property>-->
         <!--</bean>-->

        <bean id="autoWiringService" class="com.jmall.autowiring.AutoWiringService">
            <!--<constructor-arg name="injectionDAO" ref="injectionDAO1"></constructor-arg>-->
        </bean>

        <bean id="autoWiringDao111" class="com.jmall.autowiring.AutoWiringDao"></bean>

</beans>